.grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    background: black;
    .grid-item{
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
        img{
            width: 100%;
            object-fit: contain;
        }
        &.table{
            background: red;
            -webkit-mask-image: url(../../images/table.png);
            mask-image: url(../../images/table.png);
            -webkit-mask-size: 70%;
            mask-size: 70%;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;    
            -webkit-mask-position: center;
        }
        &.barrier{
            background: blue;
        }
        &.free-space{
            background: green;
        }
    }
}