.grid-container {
    display: grid;
    width: 59.5703125vw;
    height: 79.42708333333333vh;
    background: #0c184c;
    .grid-item{
        border: 1px solid #fff;
        /* &.table{
            background: red;
        }
        &.barrier{
            background: blue;
        }
        &.free-space{
            background: green;
        } */
    }
}